:root{
	--texts-color: #F9FCB5;
	--badge-color: #53CEB8;
	--texts-transition-color: #1E5C71;
	--button-bg: #D2691E;
	--facebook-bg: #0676E8;
	--selector-color: #FA8E8E;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face{
	font-family: "Monserrat Bold";
	src: url("../Fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
}

@font-face{
	font-family: "Monserrat";
	src: url("../Fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}


body{
	background-image: url("../img/space.jpg");
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	font-size: 16px;
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
}

/* ----- Header ----- */

header{
	width: 95%;
	margin: 1em auto;
	display: flex;
	align-self: flex-start;
	flex-flow: row wrap;
	justify-content: space-between;
	font-family: "Monserrat";
	margin-bottom: 3.125em;
}

#badge{
	width: 220px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

#badge i{
	color: var(--badge-color);
	font-size: 2.8125em;
	margin-right: 1rem;
}

#badge h1{
	color: var(--texts-color);
	font-size: 1.875em;
}

#menu{
	width: 18.75em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

#menu a{
	color: var(--texts-color);
	font-size: 1.375em;
	text-decoration: none;
	transition: all 0.3s;
}

#menu a:hover{
	transform: scale(1.1);
	color: var(--texts-transition-color);
}

/* main section */

#principal{
	width: 97%;
	margin: 1em auto;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
	font-size: 1em;
}

#principal h2{
	width: 97%;
	color: var(--texts-color);
	font-size: 2em;
	font-family: "Trebuchet MS";
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	margin-bottom: 0.5rem;
}

#form-container{
	width: 100%;
	background-color: rgba(14, 11, 20, 0.5);
	border: 1px solid var(--texts-transition-color);
	border-radius: 10px;
}

#form{
	width: 93%;
	margin: 0px auto;
}

#form label{
	display: block;
	color: var(--texts-color);
	font-size: 1.2em;
	margin: 1rem 0;
	font-family: "Monserrat";
}

.input-container{
	width: 100%;
	background-color: white;
	border-radius: 5px;
	height: 2.5em;
}

.fields{
	font-size: 1.2em;
	border-radius: 5px;
	font-family: "Trebuchet MS";
	width: 100%;
	height: 2.5em;
	padding: 0 0.5em;
	border: none;
}

.fields::placeholder,
#date{
	color: var(--texts-transition-color);
	font-family: "Trebuchet MS";
}

#desc{
	line-height: 2.5em;
	max-width: 100%;
	min-width: 100%;
}

#button-container{
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	margin: 1.5em 0;
}

button{
	width: 150px;
	height: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background-color: var(--button-bg);
	color: var(--texts-color);
	border-radius: 10px;
	border: none;
	cursor: pointer;
	transition: all 0.3s;
}

button i{
	margin-right: 0.4rem;
	font-size: 25px;
	color: var(--texts-color);
}

button p{
	margin-left: 0.2rem;
	font-size: 18px;
	color: var(--texts-color);
}

button:hover{
	background-color: var(--texts-color);
}

button:hover i,
button:hover p{
	color: var(--button-bg);
}

/* ----- Footer ----- */

#footer{
	width: 100%;
	display: flex;	
	padding: 1em;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	align-self: flex-end;
	background-color: #333;
}

#footer p::selection,
#footer span::selection,
#icons::selection{
	color: blue;
	background-color: var(--selector-color);
}

#footer p{
	color: var(--texts-color);
	font-size: 1em;
	font-family: "Monserrat";
}

p > span{
	color: var(--selector-color);
}

#icons{
	margin: 0.25em;
	font-size: 2em;
}

.links{
	transition: all 0.2s;
}

.fab:hover{
	color: var(--selector-color);
}

#icons a:nth-child(1){
	color: #fff;
}

#icons a:nth-child(2){
	color: var(--facebook-bg);
}








